<launch>
	<master auto="start" />
	<group ns="ark_bridge">
		<node pkg="ark_bridge" type="tf_republisher" respawn="false" name="tf_republisher" output="screen"/>
		<node pkg="ark_bridge" type="tf_static_republisher" respawn="false" name="tf_static_republisher" output="screen"/>
		<node pkg="ark_bridge" type="platform_control_cmd_vel_republisher" respawn="false" name="platform_control_cmd_vel_republisher" output="screen"/>
		<node pkg="ark_bridge" type="platform_control_odom_republisher" respawn="false" name="platform_control_odom_republisher" output="screen"/>
		<node pkg="ark_bridge" type="platform_odometry_republisher" respawn="false" name="platform_odometry_republisher" output="screen"/>
		<node pkg="ark_bridge" type="strategy_manager_path_complete_republisher" respawn="false" name="strategy_manager_path_complete_republisher" output="screen"/>
		<node pkg="ark_bridge" type="strategy_manager_pause_status_republisher" respawn="false" name="strategy_manager_pause_status_republisher" output="screen"/>
		<node pkg="ark_bridge" type="strategy_manager_simple_goal_republisher" respawn="false" name="strategy_manager_simple_goal_republisher" output="screen"/>
		<node pkg="ark_bridge" type="strategy_manager_simple_path_republisher" respawn="false" name="strategy_manager_simple_path_republisher" output="screen"/>
		<node pkg="ark_bridge" type="strategy_manager_distance_to_goal_republisher" respawn="false" name="strategy_manager_distance_to_goal_republisher" output="screen"/>
		<node pkg="ark_bridge" type="slam_localization_score_republisher" respawn="false" name="slam_localization_score_republisher" output="screen"/>
		<node pkg="ark_bridge" type="map_data_features_zones_exclusion_republisher" respawn="false" name="map_data_features_zones_exclusion_republisher" output="screen"/>
		<node pkg="ark_bridge" type="map_data_features_markers_waypoint_republisher" respawn="false" name="map_data_features_markers_waypoint_republisher" output="screen"/>
		<node pkg="ark_bridge" type="rear_scan_republisher" respawn="false" name="rear_scan_republisher" output="screen"/>
		<node pkg="ark_bridge" type="front_scan_republisher" respawn="false" name="front_scan_republisher" output="screen"/>
		<node pkg="ark_bridge" type="map_data_saved_map_data_republisher" respawn="false" name="map_data_saved_map_data_republisher" output="screen"/>
		<node pkg="ark_bridge" type="map_data_map_republisher" respawn="false" name="map_data_map_republisher" output="screen"/>
		<node pkg="ark_bridge" type="map_data_md5sum_republisher" respawn="false" name="map_data_md5sum_republisher" output="screen"/>
		<node pkg="ark_bridge" type="map_data_loaded_map_filename_republisher" respawn="false" name="map_data_loaded_map_filename_republisher" output="screen"/>
		<node pkg="ark_bridge" type="e_stop_republisher" respawn="false" name="e_stop_republisher" output="screen"/>
		<node pkg="ark_bridge" type="control_selection_control_state_republisher" respawn="false" name="control_selection_control_state_republisher" output="screen"/>
		<node pkg="ark_bridge" type="path_republisher" respawn="false" name="path_republisher" output="screen"/>
		<node pkg="ark_bridge" type="move_base_status_republisher" respawn="false" name="move_base_status_republisher" output="screen"/>
	</group>
</launch>
