<launch>
	<master auto="start" />
	<group ns="ark_bridge">
		<node pkg="ark_bridge" type="tf_republisher" respawn="false" name="tf_republisher" output="screen"/>
		<node pkg="ark_bridge" type="tf_static_republisher" respawn="false" name="tf_static_republisher" output="screen"/>
		<node pkg="ark_bridge" type="platform_control_cmd_vel_republisher" respawn="false" name="platform_control_cmd_vel_republisher" output="screen"/>
		<node pkg="ark_bridge" type="platform_control_odom_republisher" respawn="false" name="platform_control_odom_republisher" output="screen"/>
		<node pkg="ark_bridge" type="platform_odometry_republisher" respawn="false" name="platform_odometry_republisher" output="screen"/>
		<node pkg="ark_bridge" type="clock_republisher" respawn="false" name="clock_republisher" output="screen"/>
		<node pkg="ark_bridge" type="strategy_manager_path_complete_republisher" respawn="false" name="strategy_manager_path_complete_republisher" output="screen"/>
		<node pkg="ark_bridge" type="strategy_manager_pause_status_republisher" respawn="false" name="strategy_manager_pause_status_republisher" output="screen"/>
		<node pkg="ark_bridge" type="strategy_manager_simple_goal_republisher" respawn="false" name="strategy_manager_simple_goal_republisher" output="screen"/>
		<node pkg="ark_bridge" type="strategy_manager_simple_path_republisher" respawn="false" name="strategy_manager_simple_path_republisher" output="screen"/>
		<node pkg="ark_bridge" type="strategy_manager_distance_to_goal_republisher" respawn="false" name="strategy_manager_distance_to_goal_republisher" output="screen"/>
		<node pkg="ark_bridge" type="slam_localization_score_republisher" respawn="false" name="slam_localization_score_republisher" output="screen"/>
		<node pkg="ark_bridge" type="map_data_features_zones_exclusion_republisher" respawn="false" name="map_data_features_zones_exclusion_republisher" output="screen"/>
		<node pkg="ark_bridge" type="map_data_features_markers_waypoint_republisher" respawn="false" name="map_data_features_markers_waypoint_republisher" output="screen"/>
		<node pkg="ark_bridge" type="map_data_saved_map_data_republisher" respawn="false" name="map_data_saved_map_data_republisher" output="screen"/>
		<node pkg="ark_bridge" type="map_data_map_republisher" respawn="false" name="map_data_map_republisher" output="screen"/>
		<node pkg="ark_bridge" type="map_data_md5sum_republisher" respawn="false" name="map_data_md5sum_republisher" output="screen"/>
		<node pkg="ark_bridge" type="map_data_loaded_map_filename_republisher" respawn="false" name="map_data_loaded_map_filename_republisher" output="screen"/>
		<node pkg="ark_bridge" type="e_stop_republisher" respawn="false" name="e_stop_republisher" output="screen"/>
		<node pkg="ark_bridge" type="control_selection_control_state_republisher" respawn="false" name="control_selection_control_state_republisher" output="screen"/>
		<node pkg="ark_bridge" type="path_republisher" respawn="false" name="path_republisher" output="screen"/>
		<node pkg="ark_bridge" type="move_base_status_republisher" respawn="false" name="move_base_status_republisher" output="screen"/>
		<node pkg="ark_bridge" type="slam_estimated_pose_republisher" respawn="false" name="slam_estimated_pose_republisher" output="screen"/>
		<node pkg="ark_bridge" type="clock_echo_republisher" respawn="false" name="clock_echo_republisher" output="screen"/>
		<node pkg="ark_bridge" type="rear_scan_republisher" respawn="false" name="rear_scan_republisher" output="screen"/>
		<node pkg="ark_bridge" type="front_scan_republisher" respawn="false" name="front_scan_republisher" output="screen"/>
		<node pkg="ark_bridge" type="control_selection_autonomy_clear_all_disabled_call_republisher" respawn="false" name="control_selection_autonomy_clear_all_disabled_call_republisher" output="screen"/>
		<node pkg="ark_bridge" type="control_selection_autonomy_clear_all_paused_call_republisher" respawn="false" name="control_selection_autonomy_clear_all_paused_call_republisher" output="screen"/>
		<node pkg="ark_bridge" type="control_selection_autonomy_disable_call_republisher" respawn="false" name="control_selection_autonomy_disable_call_republisher" output="screen"/>
		<node pkg="ark_bridge" type="control_selection_autonomy_enable_call_republisher" respawn="false" name="control_selection_autonomy_enable_call_republisher" output="screen"/>
		<node pkg="ark_bridge" type="control_selection_autonomy_pause_call_republisher" respawn="false" name="control_selection_autonomy_pause_call_republisher" output="screen"/>
		<node pkg="ark_bridge" type="control_selection_autonomy_resume_call_republisher" respawn="false" name="control_selection_autonomy_resume_call_republisher" output="screen"/>
		<node pkg="ark_bridge" type="control_selection_core_clear_all_disabled_call_republisher" respawn="false" name="control_selection_core_clear_all_disabled_call_republisher" output="screen"/>
		<node pkg="ark_bridge" type="control_selection_core_clear_all_paused_call_republisher" respawn="false" name="control_selection_core_clear_all_paused_call_republisher" output="screen"/>
		<node pkg="ark_bridge" type="control_selection_core_disable_call_republisher" respawn="false" name="control_selection_core_disable_call_republisher" output="screen"/>
		<node pkg="ark_bridge" type="control_selection_core_enable_call_republisher" respawn="false" name="control_selection_core_enable_call_republisher" output="screen"/>
		<node pkg="ark_bridge" type="control_selection_core_pause_call_republisher" respawn="false" name="control_selection_core_pause_call_republisher" output="screen"/>
		<node pkg="ark_bridge" type="control_selection_core_resume_call_republisher" respawn="false" name="control_selection_core_resume_call_republisher" output="screen"/>
		<node pkg="ark_bridge" type="control_selection_set_mode_call_republisher" respawn="false" name="control_selection_set_mode_call_republisher" output="screen"/>
		<node pkg="ark_bridge" type="map_data_clear_call_republisher" respawn="false" name="map_data_clear_call_republisher" output="screen"/>
		<node pkg="ark_bridge" type="map_data_delete_map_call_republisher" respawn="false" name="map_data_delete_map_call_republisher" output="screen"/>
		<node pkg="ark_bridge" type="map_data_get_current_map_call_republisher" respawn="false" name="map_data_get_current_map_call_republisher" output="screen"/>
		<node pkg="ark_bridge" type="map_data_get_map_info_call_republisher" respawn="false" name="map_data_get_map_info_call_republisher" output="screen"/>
		<node pkg="ark_bridge" type="map_data_list_maps_call_republisher" respawn="false" name="map_data_list_maps_call_republisher" output="screen"/>
		<node pkg="ark_bridge" type="map_data_load_map_from_disk_call_republisher" respawn="false" name="map_data_load_map_from_disk_call_republisher" output="screen"/>
		<node pkg="ark_bridge" type="map_data_save_map_to_disk_call_republisher" respawn="false" name="map_data_save_map_to_disk_call_republisher" output="screen"/>
		<node pkg="ark_bridge" type="mode_manager_set_mode_call_republisher" respawn="false" name="mode_manager_set_mode_call_republisher" output="screen"/>
		<node pkg="ark_bridge" type="slam_set_initial_pose_call_republisher" respawn="false" name="slam_set_initial_pose_call_republisher" output="screen"/>
		<node pkg="ark_bridge" type="strategy_manager_abort_path_call_republisher" respawn="false" name="strategy_manager_abort_path_call_republisher" output="screen"/>
		<node pkg="ark_bridge" type="strategy_manager_pause_call_republisher" respawn="false" name="strategy_manager_pause_call_republisher" output="screen"/>
		<node pkg="ark_bridge" type="strategy_manager_resume_call_republisher" respawn="false" name="strategy_manager_resume_call_republisher" output="screen"/>
		<node pkg="ark_bridge" type="ark_config_settings_call_republisher" respawn="false" name="ark_config_settings_call_republisher" output="screen"/>
		<node pkg="ark_bridge" type="ark_start_call_republisher" respawn="false" name="ark_start_call_republisher" output="screen"/>
		<node pkg="ark_bridge" type="ark_stop_call_republisher" respawn="false" name="ark_stop_call_republisher" output="screen"/>
		<node pkg="ark_bridge" type="control_selection_autonomy_clear_all_disabled_response_republisher" respawn="false" name="control_selection_autonomy_clear_all_disabled_response_republisher" output="screen"/>
		<node pkg="ark_bridge" type="control_selection_autonomy_clear_all_paused_response_republisher" respawn="false" name="control_selection_autonomy_clear_all_paused_response_republisher" output="screen"/>
		<node pkg="ark_bridge" type="control_selection_autonomy_disable_response_republisher" respawn="false" name="control_selection_autonomy_disable_response_republisher" output="screen"/>
		<node pkg="ark_bridge" type="control_selection_autonomy_enable_response_republisher" respawn="false" name="control_selection_autonomy_enable_response_republisher" output="screen"/>
		<node pkg="ark_bridge" type="control_selection_autonomy_pause_response_republisher" respawn="false" name="control_selection_autonomy_pause_response_republisher" output="screen"/>
		<node pkg="ark_bridge" type="control_selection_autonomy_resume_response_republisher" respawn="false" name="control_selection_autonomy_resume_response_republisher" output="screen"/>
		<node pkg="ark_bridge" type="control_selection_core_clear_all_disabled_response_republisher" respawn="false" name="control_selection_core_clear_all_disabled_response_republisher" output="screen"/>
		<node pkg="ark_bridge" type="control_selection_core_clear_all_paused_response_republisher" respawn="false" name="control_selection_core_clear_all_paused_response_republisher" output="screen"/>
		<node pkg="ark_bridge" type="control_selection_core_disable_response_republisher" respawn="false" name="control_selection_core_disable_response_republisher" output="screen"/>
		<node pkg="ark_bridge" type="control_selection_core_enable_response_republisher" respawn="false" name="control_selection_core_enable_response_republisher" output="screen"/>
		<node pkg="ark_bridge" type="control_selection_core_pause_response_republisher" respawn="false" name="control_selection_core_pause_response_republisher" output="screen"/>
		<node pkg="ark_bridge" type="control_selection_core_resume_response_republisher" respawn="false" name="control_selection_core_resume_response_republisher" output="screen"/>
		<node pkg="ark_bridge" type="control_selection_set_mode_response_republisher" respawn="false" name="control_selection_set_mode_response_republisher" output="screen"/>
		<node pkg="ark_bridge" type="map_data_clear_response_republisher" respawn="false" name="map_data_clear_response_republisher" output="screen"/>
		<node pkg="ark_bridge" type="map_data_delete_map_response_republisher" respawn="false" name="map_data_delete_map_response_republisher" output="screen"/>
		<node pkg="ark_bridge" type="map_data_get_current_map_response_republisher" respawn="false" name="map_data_get_current_map_response_republisher" output="screen"/>
		<node pkg="ark_bridge" type="map_data_get_map_info_response_republisher" respawn="false" name="map_data_get_map_info_response_republisher" output="screen"/>
		<node pkg="ark_bridge" type="map_data_list_maps_response_republisher" respawn="false" name="map_data_list_maps_response_republisher" output="screen"/>
		<node pkg="ark_bridge" type="map_data_load_map_from_disk_response_republisher" respawn="false" name="map_data_load_map_from_disk_response_republisher" output="screen"/>
		<node pkg="ark_bridge" type="map_data_save_map_to_disk_response_republisher" respawn="false" name="map_data_save_map_to_disk_response_republisher" output="screen"/>
		<node pkg="ark_bridge" type="mode_manager_set_mode_response_republisher" respawn="false" name="mode_manager_set_mode_response_republisher" output="screen"/>
		<node pkg="ark_bridge" type="slam_set_initial_pose_response_republisher" respawn="false" name="slam_set_initial_pose_response_republisher" output="screen"/>
		<node pkg="ark_bridge" type="strategy_manager_abort_path_response_republisher" respawn="false" name="strategy_manager_abort_path_response_republisher" output="screen"/>
		<node pkg="ark_bridge" type="strategy_manager_pause_response_republisher" respawn="false" name="strategy_manager_pause_response_republisher" output="screen"/>
		<node pkg="ark_bridge" type="strategy_manager_resume_response_republisher" respawn="false" name="strategy_manager_resume_response_republisher" output="screen"/>
		<node pkg="ark_bridge" type="ark_config_settings_response_republisher" respawn="false" name="ark_config_settings_response_republisher" output="screen"/>
		<node pkg="ark_bridge" type="ark_start_response_republisher" respawn="false" name="ark_start_response_republisher" output="screen"/>
		<node pkg="ark_bridge" type="ark_stop_response_republisher" respawn="false" name="ark_stop_response_republisher" output="screen"/>
	</group>
</launch>
