<launch>
  <!-- Changing the line below may affect ARK performance. DO NOT CHANGE -->
  <node name="clock_throttler" type="throttle" pkg="topic_tools" args="messages /ark_bridge/clock_un_throttled 100 /ark_bridge/clock" />

  <node name="tf_bridge" pkg="ark_bridge" type="tf_bridge" output="screen" respawn="true">
    <param name="lcm_topic" value="/ark_bridge/tf"/>
    <param name="ros_topic" value="/tf"/>
    <param name="direction" value="ros2lcm"/>
  </node>
  <node name="tf_static_bridge" pkg="ark_bridge" type="tf_bridge" output="screen" respawn="true">
    <param name="lcm_topic" value="/ark_bridge/tf_static"/>
    <param name="ros_topic" value="/tf_static"/>
    <param name="direction" value="ros2lcm"/>
  </node>
  <node name="odom_bridge_1" pkg="ark_bridge" type="odom_bridge" output="screen" respawn="true">
    <param name="lcm_topic" value="/ark_bridge/platform_control_odom"/>
    <param name="ros_topic" value="/odometry/filtered"/>
    <param name="direction" value="ros2lcm"/>
  </node>
  <node name="odom_bridge_2" pkg="ark_bridge" type="odom_bridge" output="screen" respawn="true">
    <param name="lcm_topic" value="/ark_bridge/platform_odometry"/>
    <param name="ros_topic" value="/odometry/filtered"/>
    <param name="direction" value="ros2lcm"/>
  </node>
  <node name="twist_bridge" pkg="ark_bridge" type="twist_bridge" output="screen" respawn="true">
    <param name="lcm_topic" value="/ark_bridge/platform_control_cmd_vel"/>
    <param name="ros_topic" value="/cmd_vel"/>
    <param name="direction" value="lcm2ros"/>
  </node>
  <node name="clock_bridge" pkg="ark_bridge" type="clock_bridge" output="screen" respawn="true">
    <param name="lcm_topic" value="/ark_bridge/clock_un_throttled"/>
    <param name="ros_topic" value="/clock"/>
    <param name="direction" value="ros2lcm"/>
  </node>

  <node name="front_scan_bridge" pkg="ark_bridge" type="laserscan_bridge" output="screen" respawn="true">
    <param name="lcm_topic" value="/ark_bridge/front_scan"/>
    <param name="ros_topic" value="/front/scan"/>
    <param name="direction" value="ros2lcm"/>
  </node>
  <node name="rear_scan_bridge" pkg="ark_bridge" type="laserscan_bridge" output="screen" respawn="true">
    <param name="lcm_topic" value="/ark_bridge/rear_scan"/>
    <param name="ros_topic" value="/rear/scan"/>
    <param name="direction" value="ros2lcm"/>
  </node>

  <node name="stereo_bridge" pkg="ark_bridge" type="pointcloud2_bridge" output="screen" respawn="true">
    <param name="lcm_topic" value="/ark_bridge/stereo_camera_0"/>
    <param name="ros_topic" value="/stereo_camera_0"/>
    <param name="direction" value="ros2lcm"/>
  </node>

  <node name="diagnostics_bridge" pkg="ark_bridge" type="diagnosticarray_bridge" output="screen" respawn="true">
    <param name="lcm_topic" value="/ark_bridge/ark_diagnostics"/>
    <param name="ros_topic" value="/diagnostics_agg"/>
    <param name="direction" value="lcm2ros"/>
  </node>
</launch>
